SMTP_HOST=localhost
SMTP_PORT=1025

EMAIL_FROM=agent-email-router@example.com
EMAIL_HUMAN_RESOURCES=human-resources@example.com
EMAIL_HELP_DESK=help-desk@example.com
EMAIL_IT=it@example.com
EMAIL_KADRY=kadry@example.com
EMAIL_OTHER=other@example.com

OLLAMA_MODEL=qwen3.5:0.8b